<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Static Files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}" />

    <title>Jbay</title>
</head>
<body>

 {% block title %}
<h1> JBay </h1>
<p> Sneaker shop for new releases of basketball shoes and retros. </p>

 {% endblock %}

<!-- Navigation Bar -->
 <div class="container-fluid">
 <nav class="navbar navbar-light bg-faded ">
   <ul class="nav navbar-nav">
     <li class="nav-item">
       <a class="nav-link" href="http://localhost:8000">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Shoes</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Upcoming</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">About</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="http://localhost:8000/login">Login</a>
     </li>
   </ul>
   <!-- <form class="form-inline pull-xs-right">
     <input class="form-control" type="text" placeholder="Search">
     <button class="btn btn-outline-success" type="submit">Search</button>
   </form> -->
 </nav>
 </div>

 {% block content %} {% endblock %}

</body>
</html>
