{% extends "base.html" %}

{% block content %}

<div class="container">

<h3>All Shoes</h3>
<table class="table table-hover">
  {% for shoe in shoeList %}
          <tr><td><a href="http://67.205.175.115:8000/shoe_detail?id={{shoe.id}}">{{ shoe.shoe }}</a></td></tr>
  {% endfor %}
</table>
</div>
<div class="container">
<h3>Recently Added Shoes</h3>
<table class="table table-hover">
  {% for shoe in recent %}
          <tr><td><a href="http://67.205.175.115:8000/shoe_detail?id={{shoe.id}}">{{ shoe.shoe }}</a></td></tr>
  {% endfor %}
</table>
</div>
{% endblock %}
